.box {
    margin: 0px auto;
    border-radius: 7px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.transparent{
    opacity: 0.8;
}

.selected {
    background-color: #ffffff;
}

.unselected {
    background-color: #e6e6e6;
}

.text {
    font-family: Avenir;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: center;
    letter-spacing: normal;
    text-transform: none;
    position:relative;
    display: block;
    padding: 10px 15px;
}

.selected-text {
    color: #8ca6fc;
}

.amount-dollar {
    display: inline-block;
    font-weight: 500;
    font-style: bold;
    min-width: 10px;
    padding: 6px 12px;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}

.selected-amount-dollar {
    background-color: #8ca6fc;
}

.unselected-amount-dollar {
    background-color: #808080;
}